html{
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    margin: 0;
}

/* #menu{
    background: #e95c0c;
} */

.navbar-brand{
    font-family:Lalezar, monospace;
    font-size:36px;
    /* color: #e95c0c !important; */
}

nav{
    font-family: Helvetica;
    text-decoration-color: black;
}

.nav-link:hover{
    color: blue;
}

nav .collapse a{
    font-family: Helvetica;
    color: black;
    justify-content: end;
    display: grid;
    justify-content: end;
    align-items: center;

}


#menu{
    padding: 1%;
    display: inline-block;
    position: relative;
/*     background-color: orange; */
}

#menu1{
    padding-top: 10px;
}

#menu2{
    padding-top: 10px;
    padding-bottom: 10px
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.footer {
    background-color: #F8F9FA;
    text-decoration-color: black;
    text-align: center;
    display: inline-block;
}

.LocationText{
   /*  font-family:Lalezar, monospace; */
    font-size:36px;
    text-decoration-color: black;
}

